In [2]:
import pandas as pd
import numpy as np

In [22]:
a = pd.read_excel('labled_liquor_list.xlsx')
a

        제품명(띄어쓰기삭제)   피처   점수
0     1000억막걸리프리바이오  NaN  NaN
1     1000억막걸리프리바이오   단맛  3.0
2     1000억막걸리프리바이오   신맛  4.0
3     1000억막걸리프리바이오  청량감  3.0
4     1000억막걸리프리바이오  바디감  3.0
...             ...  ...  ...
3817     The찾을수록시리즈   신맛  2.0
3818     The찾을수록시리즈  청량감  3.0
3819     The찾을수록시리즈  바디감  2.0
3820     The찾을수록시리즈  NaN  NaN
3821     The찾을수록시리즈  NaN  NaN

[3822 rows x 3 columns]

In [26]:
df_naverlist = pd.DataFrame(data = np.array(a['제품명(띄어쓰기삭제)']).reshape(-1,7),
                            columns = ['제품명', 'b', 'c', 'd', 'e', 'f', 'g'])
df_naverlist = df_naverlist.drop(['b', 'c', 'd', 'e', 'f', 'g'], axis = 1, inplace = False)
df_naverlist

               제품명
0    1000억막걸리프리바이오
1      1000억유산균막걸리
2    1932새싹땅콩햅쌀막걸리
3    1932새싹땅콩흑미막걸리
4             33JU
..             ...
541       희양산막걸리9%
542       DMZ240km
543        g12골디락스
544        우도땅콩전통주
545     The찾을수록시리즈

[546 rows x 1 columns]

In [16]:
df_feature = pd.DataFrame(data = np.array(a['점수']).reshape(-1,7),
                          columns = ['향기', '단맛', '신맛', '청량감', '바디감', '목넘김', '균형감'])
df_feature

      향기   단맛   신맛  청량감  바디감  목넘김  균형감
0    NaN  3.0  4.0  3.0  3.0  NaN  NaN
1    NaN  3.0  5.0  5.0  3.0  NaN  NaN
2    NaN  2.0  2.0  3.0  5.0  NaN  NaN
3    NaN  3.0  1.0  1.0  4.0  NaN  NaN
4    4.0  3.0  NaN  NaN  1.0  1.0  NaN
..   ...  ...  ...  ...  ...  ...  ...
541  NaN  2.0  3.0  2.0  3.0  NaN  NaN
542  1.0  2.0  NaN  NaN  3.0  NaN  NaN
543  NaN  2.0  2.0  2.0  3.0  NaN  3.0
544  NaN  4.0  1.0  3.0  3.0  NaN  NaN
545  NaN  4.0  2.0  3.0  2.0  NaN  NaN

[546 rows x 7 columns]

In [27]:
df_naver_wiki = pd.concat([df_naverlist,df_feature], axis=1 )
df_naver_wiki

               제품명   향기   단맛   신맛  청량감  바디감  목넘김  균형감
0    1000억막걸리프리바이오  NaN  3.0  4.0  3.0  3.0  NaN  NaN
1      1000억유산균막걸리  NaN  3.0  5.0  5.0  3.0  NaN  NaN
2    1932새싹땅콩햅쌀막걸리  NaN  2.0  2.0  3.0  5.0  NaN  NaN
3    1932새싹땅콩흑미막걸리  NaN  3.0  1.0  1.0  4.0  NaN  NaN
4             33JU  4.0  3.0  NaN  NaN  1.0  1.0  NaN
..             ...  ...  ...  ...  ...  ...  ...  ...
541       희양산막걸리9%  NaN  2.0  3.0  2.0  3.0  NaN  NaN
542       DMZ240km  1.0  2.0  NaN  NaN  3.0  NaN  NaN
543        g12골디락스  NaN  2.0  2.0  2.0  3.0  NaN  3.0
544        우도땅콩전통주  NaN  4.0  1.0  3.0  3.0  NaN  NaN
545     The찾을수록시리즈  NaN  4.0  2.0  3.0  2.0  NaN  NaN

[546 rows x 8 columns]

In [28]:
df_naver_wiki.to_csv('naver_wiki_total.csv')
df_naver_wiki.to_excel('naver_wiki_total.xlsx')